*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgLight: rgb(240, 240, 240);
    --colorLight: rgb(20,20,20);

}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}